/*<----------NAVBAR---------->*/

@media (min-width: 0px) {

    .navbar-toggler {
        margin: 0 0 0 80%;
    }

    .navbar-nav {
        background: rgb(243, 243, 243);
        margin-left: 35%;
    }

    .navbar-nav a {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #traducao {
        margin: 0 0 0 1.3rem;
        width: 20px;
    }

}

@media (min-width: 768px) {

    .navbar-toggler {
        margin: 0 0 0 90%;
    }

    #traducao {
        margin: 0 0 0 2.5%;
        width: 20px;
    }

}

@media (min-width: 1024px) {

    .navbar-nav {
        background: rgb(153, 255, 0);
        width: 520px;
        margin: 0 0 0 25%;
    }


}

@media (min-width: 1440px) {

    .navbar-nav {
        background: rgb(153, 255, 0);
        width: 530px;
        margin: 0 0 0 32%;
    }


}

@media (min-width: 2560px) {

    .navbar-nav {
        background: rgb(153, 255, 0);
        width: 900px;
        margin: 0 0 0 35%;
        font-size: 30px;
    }

    #traducao {
        margin: 0 0 0 2.5%;
        width: 30px;
    }

}
/*<==========================>*/



/*<----------PERFIL---------->*/

@media (min-width: 0px) {

    #perfil {
        border: 1px solid red;
    }

    #perfil img {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
    }

    #perfil h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 110%;
    }

    #perfil p {
        font-style: italic;
        margin: 2% 0 0 2%;
        font-size: 100%;
    }



}

@media (min-width: 375px) {

    #perfil {
        border: 1px solid red;
    }

    #perfil img {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
    }

    #perfil h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 110%;
    }

    #perfil p {
        font-style: italic;
        margin: 2% 0 0 2%;
        font-size: 100%;
    }



}

@media (min-width: 375px) {

    #perfil {
        border: 1px solid red;
    }

    #perfil img {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
    }

    #perfil h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 110%;
    }

    #perfil p {
        font-style: italic;
        margin: 2% 0 0 2%;
        font-size: 100%;
    }



}

@media (min-width: 768px) {

    #perfil {
        border: 1px solid red;
    }

    #perfil img {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 160%;
    }

    #perfil h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
    }

    #perfil p {
        font-style: italic;
        margin: 2% 1% 0 2%;
        font-size: 100%;
    }



}

@media (min-width: 1024px) {

    #perfil {
        border: 1px solid red;
    }

    #perfil img {
        display: flex;
        margin-top: 10rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: 150px;
        width: 20%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-top: -3.7em;
        margin-left: auto;
        margin-right: 10em;
        font-size: 210%;
    }

    #perfil h1 {
        text-align: center;
        margin-left: auto;
        margin-right: 13em;
        font-size: 160%;
    }

    #perfil p {
        font-style: italic;
        margin: 5% 5% 0 5%;
        font-size: 100%;
    }



}

@media (min-width: 1440px) {

    #perfil {
        border: 1px solid red;
    }

    #perfil img {
        display: flex;
        margin-top: 10rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: 200px;
        width: 15%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-top: -3em;
        margin-left: auto;
        margin-right: 7.6em;
        font-size: 300%;
    }

    #perfil h1 {
        text-align: center;
        margin-left: auto;
        margin-right: 13em;
        font-size: 180%;
    }

    #perfil p {
        font-style: italic;
        margin: 5% 5% 0 5%;
        font-size: 130%;
    }



}

@media (min-width: 2560px) {

    #perfil {
        border: 1px solid red;
    }

    #perfil img {
        display: flex;
        margin-top: 14rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: 500px;
        width: 12%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-top: -3em;
        margin-left: auto;
        margin-right: 7.6em;
        font-size: 500%;
    }

    #perfil h1 {
        text-align: center;
        margin-left: auto;
        margin-right: 13em;
        font-size: 300%;
    }

    #perfil p {
        font-style: italic;
        margin: 5% 5% 0 5%;
        font-size: 220%;
    }



}