body {
    overflow-x: hidden;
}

/*<----------NAVBAR---------->*/
@media (min-width: 0px) {
    
    .navbar-toggler {
        margin: 0 0 0 80%;
    }

    .navbar-nav {
        background: rgb(155, 255, 6);
        margin: 0 0 0 ;
        font-weight: 500;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #traducao {
        margin: 0 0 0 8%;
        width: 20px;
    }

    #navbarNav a {
        margin-left: 36%;
    }
}

@media (min-width: 375px) {
    
    .navbar-toggler {
        margin: 0 0 0 80%;
    }

    .navbar-nav {
        background: rgb(155, 255, 6);
        margin: 0 0 0 ;
    }

    #traducao {
        margin: 0 0 0 8%;
        width: 20px;
    }

    #navbarNav a {
        margin-left: 39%;
    }
}

@media (min-width: 425px) {
    
    .navbar-toggler {
        margin: 0 0 0 80%;
    }

    .navbar-nav {
        background: rgb(155, 255, 6);
        margin: 0 0 0 ;
    }

    #traducao {
        margin: 0 0 0 8%;
        width: 20px;
    }

    #navbarNav a {
        margin-left: 43%;
    }
}

@media (min-width: 768px) {
    
    .navbar-toggler {
        margin: 0 0 0 90%;
    }

    .navbar-nav {
        background: rgb(155, 255, 6);
        margin: 0 10% 0 10%;
    }

    #traducao {
        margin: 0 0 0 5%;
        width: 20px;
    }

    a {
        margin-left: 43%;
    }
}

@media (min-width: 1024px) {

    .navbar-nav {
        background: rgb(155, 255, 6);
        margin: 0 0 0 30%;
    }

    #traducao {
        margin: 0 -0.4em 0 0;
        width: 20px;
    }

    #navbarNav a {
        margin: 0;
    }

}

@media (min-width: 1440px) {

    .navbar-nav {
        background: rgb(155, 255, 6);
        margin: 0 0 0 34%;
        font-size: 18px;
    }

    #traducao {
        margin: 0 -0.4em 0 0;
        width: 20px;
    }

}

@media (min-width: 2560px) {

    .navbar-nav {
        background: rgb(155, 255, 6);
        margin: 0 0 0 34%;
        font-size: 34px;
    }

    #traducao {
        margin: 0 0.5em 0 0;
        width: 20px;
    }
}


/*<==========================>*/



/*<----------PERFIL---------->*/

@media (min-width: 0px) {  

    #perfil img {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
    }

    #perfil h3 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 110%;
    }

    #perfil p {
        font-style: italic;
        margin: 10% 1.5% 0 4%;
        font-size: 100%;
    }



}

@media (min-width: 375px) {

    #perfil img {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
    }

    #perfil h3 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 120%;
    }

    #perfil p {
        font-style: italic;
        margin: 10% 0 0 2%;
        font-size: 100%;
    }



}

@media (min-width: 425px) {

    #perfil img {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
    }

    #perfil h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 110%;
    }

    #perfil p {
        font-style: italic;
        margin: 10% 0 0 2%;
        font-size: 100%;
    }



}

@media (min-width: 768px) {  

    #perfil img {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 160%;
    }

    #perfil h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
    }

    #perfil p {
        font-style: italic;
        margin: 10% 1% 0 2%;
        font-size: 100%;
    }



}

@media (min-width: 1024px) {

    #perfil img {
        display: flex;
        margin-top: 10rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: 150px;
        width: 20%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-top: -3.7em;
        margin-left: auto;
        margin-right: 10em;
        font-size: 210%;
    }

    #perfil h3 {
        text-align: center;
        margin-left: auto;
        margin-right: 13em;
        font-size: 160%;
    }

    #perfil p {
        font-style: italic;
        margin: 10% 5% 0 5%;
        font-size: 100%;
    }



}

@media (min-width: 1440px) {

    #perfil img {
        display: flex;
        margin-top: 10rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: 200px;
        width: 15%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-top: -3em;
        margin-left: auto;
        margin-right: 7.6em;
        font-size: 300%;
        font-weight: bold;
    }

    #perfil h3 {
        text-align: center;
        margin-left: auto;
        margin-right: 13em;
        font-size: 180%;
        font-style: italic;
    }

    #perfil p {
        font-style: italic;
        margin: 5% 5% 0 5%;
        font-size: 130%;
    }



}

@media (min-width: 2560px) {

    #perfil img {
        display: flex;
        margin-top: 14rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: 500px;
        width: 12%;
        border: 3px solid rgb(225, 225, 225);
        border-radius: 100%;
    }

    #perfil h2 {
        color: rgba(83, 218, 0, 0.9);
        text-align: center;
        margin-top: -3em;
        margin-left: auto;
        margin-right: 7.6em;
        font-size: 500%;
    }

    #perfil h3 {
        text-align: center;
        margin-left: auto;
        margin-right: 13em;
        font-size: 300%;
    }

    #perfil p {
        font-style: italic;
        margin: 5% 5% 0 5%;
        font-size: 220%;
    }



}




/*<----------SERVIÇOS---------->*/

@media (min-width: 0px) {  

    .tituloh2 {
        text-align: center;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        font-size: 180%;
        font-weight: bold;
        background-color: rgb(0, 255, 128);
    }

    .Card {
        border: 2px solid blue;
        border-radius: 2%;
        width: 80%;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: auto;
        margin-bottom: 10%;   
        cursor: pointer;
    }

    .Card:hover {
        border: none;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        transform: scale(1.1);  
        cursor: pointer;
      
    }
    .Card img {
        display: flex;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .Card h4 {
        text-align: center;
        font-weight: bold;
        font-size: 100%;
        margin-top: 5%;
    }

    .Card p {
        font-style: italic;
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
    }

}

@media (min-width: 768px) {  

    .tituloh2 {
        text-align: center;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        font-size: 250%;
        font-weight: bold;
        background-color: rgb(0, 255, 128);
    }

    .Card {
        border: 2px solid blue;
        border-radius: 2%;
        width: 40%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        cursor: pointer;
    }

    .Card:hover {
        border: none;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        transform: scale(1.1);  
        cursor: pointer;
      
    }
    .Card img {
        display: flex;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .Card h4 {
        text-align: center;
        font-weight: bold;
        font-size: 100%;
        margin-top: 5%;
    }

    .Card p {
        font-style: italic;
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5%;
    }

}

@media (min-width: 1024px) {  

    .tituloh2 {
        text-align: center;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        font-size: 180%;
        font-weight: bold;
        background-color: rgb(0, 255, 128);
    }

    .Card {
        border: 2px solid blue;
        border-radius: 2%;
        width: 25%;
        margin-top: 10%;
        margin-left: 80px ;
        margin-right: 100px;
        margin-bottom: 5%;
        cursor: pointer;
    }

    .Card:hover {
        border: none;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        transform: scale(1.1); 
        cursor: pointer;
       
    }
    .Card img {
        display: flex;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .Card h4 {
        text-align: center;
        font-weight: bold;
        font-size: 100%;
        margin-top: 5%;
    }

    .Card p {
        font-style: italic;
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
    }

}

@media (min-width: 1440px) {  

    .tituloh2 {
        text-align: center;
        font-size: 200%;
        font-weight: bold;
        background-color: rgb(0, 255, 128);
    }

    .Card {
        border: 2px solid blue;
        border-radius: 2%;
        width: 20%;
        margin-top: 10%;
        margin-left: 5%;
        margin-bottom: 5%;
        cursor: pointer;
    }

    .Card:hover {
        border: none;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        transform: scale(1.1);   
        cursor: pointer;
     
    }
    .Card img {
        display: flex;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .Card h4 {
        text-align: center;
        font-weight: bold;
        font-size: 100%;
        margin-top: 5%;
    }

    .Card p {
        font-style: italic;
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
    }

}






/*<----------HABILIDADES---------->*/

@media (min-width: 320px) {  

    #titulohabilidades {
        text-align: center;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        font-size: 150%;
        font-weight: bold;
        background-color: rgb(248, 248, 248);
    }

    .card {
        width: 150px;
        margin: 10px 0 0 6px;
    }

    .card:hover {
        transform: scale(1.1);
    }

}

@media (min-width: 375px) {  

    #titulohabilidades {
        text-align: center;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        font-size: 150%;
        font-weight: bold;
        background-color: rgb(248, 248, 248);
    }

    .card {
        width: 150px;
        margin: 10px 0 0 25px;
    }

    .card:hover {
        transform: scale(1.1);
    }

}

@media (min-width: 425px) {  

    #titulohabilidades {
        text-align: center;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        font-size: 150%;
        font-weight: bold;
        background-color: rgb(248, 248, 248);
    }

    .card {
        width: 150px;
        margin: 10px 0 0 42px;
    }

    .card:hover {
        transform: scale(1.1);
    }

}

@media (min-width: 768px) {  

    #titulohabilidades {
        text-align: center;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        font-size: 150%;
        font-weight: bold;
        background-color: rgb(248, 248, 248);
    }

    

    .card:hover {
        transform: scale(1.2);
    }

   

}

@media (min-width: 1024px) {  

    #titulohabilidades {
        text-align: center;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        font-size: 200%;
        font-weight: bold;
        background-color: rgb(248, 248, 248);
    }

    .card {
        width: 150px;
        height: 150px;
        margin: 5% 0 0 8%;
        cursor: pointer;
    }

    .card:hover {
        transform: scale(1.2);
    }



   

}



/*<----------PORTFOLIO---------->*/

#portfolio h2 {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 180%;
    font-weight: bold;
    background-color: rgb(0, 255, 128);
}

#portfolio {
    margin: 5em 0 0 0;
    padding-top: 5em;
}

#portfolio h4 {
    font-weight: bold;
    text-align: center;
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1% 0 0 10%;
    
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}

#imagem1-todos {
    width: 100%;
}
#imagem2-todos {
    width: 100%;
}
#imagem3-todos {
    width: 100%;
}
#imagem4-todos {
    width: 100%;
    margin: 0 0 0 0;
}
#imagem5-todos {
    width: 100%;
}



/*============SITE-PAGE==================*/
#site1 {
    margin: 0 0 0 0;
    width: 100%;
}



#site2 {
    margin: 0 0 0 0;
    width: 100%;
}

/*=========================================================*/

/*=================SISTEMAS================================*/

#sistema1 {
    width: 100%;
}

/*=========================================================*/



/*===================APLICATIVOS==========================*/

#aplicativo1 {
    width: 100%;
}

#aplicativo2 {
    width: 100%;
}

/*====================ECOMMERCE===========================*/


#ecommerce1 {
    width: 100%;
}

/*=========================================================*/

/*=====================LANDING-PAGE========================*/




@media (min-width: 320px) and (max-width: 800px) {
    #portfolioTab {
        margin: 0 0 0 0;
        
    }
    .nav-link {
        margin: 0 2em 0 2.1em;
    }
    #v-pills-home-tab {
        width: 40%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
/*================TODOS-PAGE================================*/
    #imagem1-todos {
        width: 100%;
    }
    #imagem1-todos:hover {
        -webkit-transform:scale(1.4); /* Safari and Chrome */
        -moz-transform:scale(1.4); /* Firefox */
        -ms-transform:scale(1.4); /* IE 9 */
        -o-transform:scale(1.4); /* Opera */
         transform:scale(1.4);
    }

    #imagem2-todos {
        width: 100%;
    }

    #imagem2-todos:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }

    #imagem3-todos {
        width: 100%;
    }

    #imagem3-todos:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }

    #imagem4-todos {
        width: 100%;
    }

    #imagem4-todos:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }

    #imagem5-todos {
        width: 100%;
    }

    #imagem5-todos:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }

    #imagem6-todos {
        width: 100%;
    }

    #imagem6-todos:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }

    #imagem7-todos {
        width: 100%;
    }

    #imagem7-todos:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }

/*============SITE-PAGE==================*/
    #site1 {
        margin: 0 0 0 -1em;
        width: 120%;
    }

    #site1:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }

    #site2 {
        margin: 0 0 0 -1em;
        width: 120%;
    }

    #site2:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }
/*=========================================================*/

/*=================SISTEMAS================================*/

    #sistema1 {
        width: 100%;
    }

    #sistema1:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }
/*=========================================================*/



/*===================APLICATIVOS==========================*/

    #aplicativo1 {
        width: 100%;
    }

    #aplicativo1:hover {
        -webkit-transform:scale(1.5); /* Safari and Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* IE 9 */
        -o-transform:scale(1.5); /* Opera */
         transform:scale(1.5);
    }

/*====================ECOMMERCE===========================*/


    #ecommerce1 {
        width: 100%;
    }

    #ecommerce1:hover {
        -webkit-transform:scale(1.6); /* Safari and Chrome */
        -moz-transform:scale(1.6); /* Firefox */
        -ms-transform:scale(1.6); /* IE 9 */
        -o-transform:scale(1.6); /* Opera */
         transform:scale(1.6);
    }
/*=========================================================*/

/*=====================LANDING-PAGE========================*/

    #lp1 {
        width: 100%;
    }

    #lp1:hover {
        -webkit-transform:scale(1.6); /* Safari and Chrome */
        -moz-transform:scale(1.6); /* Firefox */
        -ms-transform:scale(1.6); /* IE 9 */
        -o-transform:scale(1.6); /* Opera */
         transform:scale(1.6);
    }

    #lp2 {
        width: 100%;
    }

    #lp2:hover {
        -webkit-transform:scale(1.6); /* Safari and Chrome */
        -moz-transform:scale(1.6); /* Firefox */
        -ms-transform:scale(1.6); /* IE 9 */
        -o-transform:scale(1.6); /* Opera */
         transform:scale(1.6);
    }

/*=========================================================*/

}




/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
    
}


/*<----------CONTATO---------->*/

@media (min-width: 320px) {
    
    #contato {
        background-image: url('../src/pexels-contact.jpg');
        background-size: cover;
        border: 1px solid white;
        text-align: center;
        height: 40em;
        background-color: white;
        background-position-x: 28%; 
        margin: 0 0 0 0;
    }
    
    #email {
        margin: 100px 0 0 0;
    }

    #email:hover {
        transform: scale(1.2);
    }

    #linkedinIcon {
        margin: 80px 0 0 -135px;
    }

    #linkedinIcon:hover {
        transform: scale(1.2);
    }

    #wppIcon {
       
        margin: 80px 0 0 -70px;
    }
    
    #wppIcon:hover {
        transform: scale(1.2);
    }
    
    .container-footer a {
        color: black;
    }
}


@media (min-width: 768px) {
    
    #contato {
        background-image: url('../src/pexels-contact.jpg');
        background-size: cover;
        border: 1px solid white;
        text-align: center;
        height: 40em;
        background-color: white;
        background-position-x: 28%; 
        margin: 0 0 0 0;
    }
    
    #contato h2 {
        text-align: center;
        margin: 10% 0 0 8%;
        font-size: 2em;
        cursor: pointer;
    }

    h2:hover {
        font-weight: bold;
    }

    .container-footer {
        margin: 3% 0 0 60%;
        cursor: pointer;
    }

    i {
        margin: 0 0 0 40%;
    }

    .container-footer a {
        color: black;
        font-weight: 500;
        font-size: large;
        margin: 0 -1em 0 0;
    }

    #email {
        margin: 15% 0 0 -130%;
    }

    #email:hover {
        transform: scale(1.2)
    }

    #linkedinIcon {
        margin: 0 0 0 -180%;
    }

    #linkedinIcon:hover {
        transform: scale(1.2)
    }

    #wppIcon {
        margin: 0 0 0 -156%;

    }

    #wppIcon:hover {
        transform: scale(1.2)
    }
}

@media (min-width: 1024px) {
    
    #contato {
        background-image: url('../src/pexels-contact.jpg');
        background-size: cover;
        border: 1px solid white;
        text-align: center;
        height: 40em;
        background-color: white;
        background-position-x: 28%; 
        margin: 0 0 0 0;
    }
    
    #contato h2 {
        text-align: center;
        margin: 10% 0 0 8%;
        font-size: 3em;
        cursor: pointer;
    }

    h2:hover {
        font-weight: bold;
    }

    .container-footer {
        margin: 3% 0 0 60%;
        cursor: pointer;
    }

    i {
        margin: 0 0 0 40%;
    }

    .container-footer a {
        color: black;
        font-weight: 500;
        font-size: large;
        margin: 0 -1em 0 0;
    }

    #email {
        margin: 15% 0 0 -130%;
    }

    #email:hover {
        transform: scale(1.2)
    }

    #linkedinIcon {
        margin: 0 0 0 -168%;
    }

    #linkedinIcon:hover {
        transform: scale(1.2)
    }

    #wppIcon {
        margin: 0 0 0 -150%;

    }

    #wppIcon:hover {
        transform: scale(1.2)
    }
}

@media (min-width: 1440px) {
    
    #contato {
        background-image: url('../src/pexels-contact.jpg');
        background-size: cover;
        border: 1px solid white;
        text-align: center;
        height: 40em;
        background-color: white;
        background-position-x: 28%; 
        background-position-y: 15%;
        margin: 0 0 0 0;
    }
    
    #contato h2 {
        text-align: center;
        margin: 4% 0 0 8%;
        font-size: 3em;
        cursor: pointer;
    }

    h2:hover {
        font-weight: bold;
    }

    .container-footer {
        margin: 3% 0 0 60%;
        cursor: pointer;
    }

    i {
        margin: 0 0 0 40%;
    }

    .container-footer a {
        color: black;
        font-weight: 500;
        font-size: large;
        margin: 0 -2em 0 0;
    }

    #email {
        margin: 5% 0 0 -152%;
    }

    #email:hover {
        transform: scale(1.2)
    }

    #linkedinIcon {
        margin: 0 0 0 -178%;
    }

    #linkedinIcon:hover {
        transform: scale(1.2)
    }

    #wppIcon {
        margin: 0 0 0 -166%;

    }

    #wppIcon:hover {
        transform: scale(1.2)
    }
}

@media (min-width: 2560px) {
    
    #contato {
        background-image: url('../src/pexels-contact.jpg');
        background-size: cover;
        background-position-y: 20%;
        border: 1px solid white;
        text-align: center;
        height: 60em;
        margin: 0 0 0 0;
    }
    
    #contato h2 {
        text-align: center;
        margin: 5% 0 0 8%;
        font-size: 4em;
        cursor: pointer;
    }

    h2:hover {
        font-weight: bold;
    }

    .container-footer {
        margin: 3% 0 0 60%;
        cursor: pointer;
    }

    i {
        margin: 0 0 0 40%;
    }

    .container-footer a {
        color: black;
        font-weight: 500;
        font-size: 32px;
        margin: 0 -2em 0 0;
    }

    #email {
        margin: -5% 0 0 -140%;
    }

    #email:hover {
        transform: scale(1.2)
    }

    #linkedinIcon {
        margin: 0 0 0 -167%;
    }

    #linkedinIcon:hover {
        transform: scale(1.2)
    }

    #wppIcon {
        margin: 0 0 0 -155%;

    }

    #wppIcon:hover {
        transform: scale(1.2)
    }
}

/*<----------FOOTER---------->*/


@media (min-width: 320px) {

    footer {
        margin-left: auto;
        margin-right: auto;
        background-color: #1E2019;
        color: white;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    footer img {
            width: 120px;
            margin-top: -10px;
            margin-left: auto;
            margin-right: auto;
    }

}

@media (min-width: 374px) {

    footer {
        margin-left: auto;
        margin-right: auto;
        background-color: #1E2019;
        color: white;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    footer img {
            width: 120px;
            margin-top: -10px;
            margin-left: auto;
            margin-right: auto;
    }

}

@media (min-width: 424px) {

    footer {
        margin-left: auto;
        margin-right: auto;
        background-color: #1E2019;
        color: white;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    footer img {
            width: 120px;
            margin-top: -10px;
            margin-left: auto;
            margin-right: auto;
    }

}

@media (min-width: 2560px) {

    footer {
        margin-left: auto;
        margin-right: auto;
        background-color: #1E2019;
        color: white;
        font-size: 28px;
        font-weight: lighter;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    footer h6 {
        font-size: 24px;
    }

    footer img {
            width: 120px;
            margin-top: -10px;
            margin-left: auto;
            margin-right: auto;
    }

}